.bg_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_blackness {
    position: relative;
    isolation: isolate;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--blackness-clr, #000);
        opacity: var(--blackness, 0.5);
        pointer-events: none;
        z-index: -1;
    }
}
